.header
    display: flex
    flex-direction: column

    justify-content: center
    align-items: center

    height: 100vh

    background: radial-gradient(143.7% 143.7% at 50% 0%, rgba(58, 204, 178, 0.5) 0%, rgba(57, 203, 177, 0) 65.62%)
    color: #FAFAFA

    &__text
        font-weight: 400

        &-first
            font-family: 'Neue Machina'
            font-size: 3.6rem

        &-second
            font-family: 'Neue Machina'
            font-size: 2.4rem

    &__button-container
        gap: 6.4rem
        display: flex
